body{
	margin: 0px;
	font-family:"Bookman Old Style";
}

.main{
	height: 650px;
	background-color: #f9ecf2;
}

#container{
	height: 650px;
	width: 1100px;
	margin: 0 auto;
	background-image: url("../images/background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header{
	width: 100%;
}

nav{
	height: 60px;
	float: right;
	margin-top: 30px;
	padding: 10px;
	background-color: rgb(172, 57, 115, 0.75);
	border-radius: 40px 0px 0px 40px;
	padding-top: 30px;
}

.navbar{
	color: white;
	font-size: 25px;
	margin-left: 25px;
	text-decoration: none;
	border: 3px solid white;
	border-radius: 50px 0px 0px 50px;
	padding: 3px;
	
}

.navbar:hover{
	color: #ac3973;
	background-color: white;
	font-family:"Book Antiqua";
}

span{
	width: 100%;
}

h1{
	text-align: center;
	font-size: 80px;
	clear: both;
	padding-top: 150px;
}

h2{
	text-align: center;
	font-size: 35px;
	clear: both;
	margin-top: 15px;	
}


